{% extends 'eshop/base.html' %}

{% block title %}
Product List
{% endblock %}

{% block body %}
<h3>Products:</h3>

{% if products %}
<div>
  <ul>
  {% for product in products %}
  <div>
    <p>Name: <a href="{% url 'eshop:product:detail' pk=product.pk %}">{{ product.name }}</a></p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Discount: {% firstof product.discount 'no discount' %}</p>

    {% if product.preview %}
    <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
    {% endif %}
  </div>
  {% endfor %}
  </ul>
</div>
{% else %}
<h4>No products yet.</h4>
{% endif %}

<div>
  <a href="{% url 'eshop:product_create' %}">Create new</a>
</div>
{% endblock %}