{% extends 'eshop/base.html' %}

{% block title %}
Order List
{% endblock %}

{% block body %}
<h3>Orders:</h3>

{% if orders %}
<div>
  <ul>
  {% for order in orders %}
  <div>
    <p><a href="{% url 'eshop:order:detail' pk=order.pk %}">Details #{{ order.pk }}</a></p>
    <p>Order by: {% firstof order.user.first_name order.user.username %}</p>
    <p>Promocode: <code>{{ order.promocode }}</code></p>
    <p>Delivery address: {{ order.delivery_address }}</p>
    <div>
      Items in order:
      <ul>
      {% for item in order.items.all %}
        <li>{{ item.product.name }} for ${{ item.price }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
  </ul>
</div>
{% else %}
<h4>No orders yet.</h4>
{% endif %}

{% lorem %}
{% endblock %}